{% extends "basic.html" %}
{% load static %}

 
{% block head %}



<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'signin_page/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'signin_page/css/main.css' %}">
<!--===============================================================================================-->





<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

#box{
   width:30%;
   height:30%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
}



.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}



body {
  background: linear-gradient(to bottom right, #fff 0%, #b5fbff 100%);
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

</style>


{% endblock %}




{% block body %}

  <div class="container" id="box" >
<center>
<span class="login100-form-title p-b-49">Login as Admin</span>

</center>
<form action="sign_in_admin" method="post" style="background-color: white;">
  
  {% csrf_token %}
 <!-- <div class="imgcontainer">
    <img src="{% static 'admin/signin/admin.png' %}" alt="Avatar" class="avatar">
  </div>-->

  <center>
    <div>
      {% for message in messages %}
      <h3 style="color: red;">{{message}}</h3>
      {% endfor %}
    </div>
    </center>
    <br>
    
  <div class="container" style="background-color: white;">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

      <div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
							Login
							</button>
						</div>
					</div>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

 
</form>

</div>



 {% endblock %}
