{% extends "basic.html" %}
{% load static %}

 
    {% block head %}
    <link rel="stylesheet" href="{% static 'patient/consult_a_doctor/consult_a_doctor.css' %}">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" >
<style>
      *, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to bottom right, #fff 0%, #b5fbff 100%);
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

</style>
{% endblock %}




{% block body %}



<br><center><h2> Consult a Doctor </h2>
</center>
<div class="container  mt-5 mb-3">
<br>




        

            <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>Doctor name</th>
                  <th>Specialization</th>
                  <th>Email</th>
                  <th>Ratings</th>
                  <th>View profile</th>
                  <th>Consult</th>
                </tr>
              </thead>

              <tbody>
               
               {% for i in dobj %}
               
               
                <tr>
                  <td>{{i.name}}</td>
                  <td>{{i.specialization}}</td>
                  <td>{{i.user.email}}</td>
                  <td>{{i.rating}}/5</td>
                  <td>

                    <form action="{% url 'dviewprofile' i.user.username %}" method="GET">
                      {% csrf_token %}
                       <button type="submit" class="btn btn-primary">view profile</button>
                    </form>

                  </td>
                  <td>
                    
                      <form action="{% url 'make_consultation' i.user.username %}" method="POST">
                          {% csrf_token %} 
                           <button type="submit" class="btn btn-primary"> Consult</button>  
                        </form>
    
                  </td>
                </tr>


                {% endfor %}

              
              </tbody>
            </table>
        


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_menu">
            <h5>
              QUICK LINKS
            </h5>
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}"> About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> Diseases </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target=".bd-example-modal-lg">Sign in</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_course">
            <h5>
              Health Checker
            </h5>
            <p>
             Predict your diseases, get medication and treatment from professional physicians. Be healthy.
            </p>
          </div>
        </div>

        <div class="col-md-5 offset-md-1">
          <div class="info_news">
            <h5>
              FOR ANY QUERY, PLEASE WRITE TO US
            </h5>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i> HealthChecker@mail.com
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i> Call : +91 1234567890
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By Health Checker
      </p>
    </div>
  </footer>
  <!-- footer section -->

  
{% endblock %}